* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif; 
    display: flex; 
    width: 100%;
    min-height: 100vh;
    color: #333333;
    font-size: 1rem;
    background-color: black;
}
.background-layer {                 /* Contenitore principale */
    display: flex;
    flex: 1;
    min-height: 100vh;
    width: 100%;
}



.navbar-layer {                     /* Navbar */
    flex: 0 0 20vw; 
    background-color: #F24236;
    border-radius: 1.875rem;
    padding: 2%;
    margin: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2; 
    min-width: 5rem;
}
.profile {
    display: flex;           
    flex-direction: column; 
    align-items: center;    
    text-align: center;      
    margin-bottom: 1.25rem;
}
.avatar {
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
    border: 0.375rem solid #F5F749;
    margin-bottom: 0.625rem;
}
.name {
    color: #F5F749;
    font-size: 1.125rem;
    font-weight: bold;
}
.tagline {
    font-size: 1rem;
    color: #99C1B9;
}
.menu {
    width: 100%;
}
.menu ul {
    list-style: none;
}
.menu-item {
    position: relative;
    margin: 0.9375rem 0;
}
.menu-item a {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    padding: 0.625rem 1.25rem;
    display: flex;
    align-items: center;
    border-radius: 0.9375rem;
    transition: all 0.3s;
}
.menu-item.active a {
    background-color: #99C1B9; 
    color: #ffffff;
}
.material-symbols-outlined {
    font-size: 2.5rem; 
    color: #ffffff; 
    vertical-align: middle; 
    margin-right: 0.5rem;
    transition: transform 0.2s ease, color 0.2s ease;
}



.content-area {                     /* Content Area */
    flex: 1;
    background-color: #99C1B9;
    border-radius: 1.875rem;
    padding: 1.875rem;
    margin: 1.25rem;
    box-shadow: 0 0.375rem 0.9375rem rgba(0, 0, 0, 0.1);
    overflow: auto;
}
h1 {
    font-size: 2.5rem; 
    color: #F24236;
}
h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}
p {
    font-size: 1rem;
    line-height: 1.3; 
    color: #555555;
}
.content-section {
    display: none;
}
.content-section.active {
    display: block;
}


.portfolio-section {            /* Portfolio */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    gap: 1rem; 
    margin-top: 1rem;
}
.portfolio-item {
    display: flex;
    flex-direction: column; 
    gap: 1rem; 
    padding: 1rem;
    border-radius: 1rem;
    background-color: black;
}


.spacer {
    flex-grow: 1; 
}
.portfolio-item:hover {
    transform: translateY(-0.125rem);
    box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.15);
}
.portfolio-item h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem; 
    color: #F24236;
}
.portfolio-item p {
    font-size: 0.875rem; 
    color: #F5F749;
}
.portfolio-item img {
    display: block; /* Garantisce che l'immagine sia un elemento a blocco */
    width: 50%; /* L'immagine riempirà la larghezza del contenitore */
    max-width: 140px; /* Imposta una larghezza massima per evitare immagini troppo grandi */
    height: auto; /* Mantiene le proporzioni originali dell'immagine */
    margin: 1rem auto; /* Aggiunge spazio e centra l'immagine orizzontalmente */
    border-radius: 0.5rem; /* Arrotonda gli angoli per un look più morbido */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Aggiunge una leggera ombra per evidenziarla */
    object-fit: contain; /* Garantisce che l'immagine sia completamente visibile senza deformazioni */
    margin-bottom: 15%;
}

/* Carosello */
.carousel-container {
    position: relative; /* Necessario per posizionare le frecce rispetto al contenitore */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Assicura che il contenitore si adatti */
    overflow: hidden; /* Evita di mostrare elementi fuori dal carosello */
    max-width: 20rem; /* Limita la dimensione del carosello */
    margin: 0 auto;
}
.carousel {
    display: flex; 
    transition: transform 0.3s ease; 
    will-change: transform; 
} 
.carousel-item {
    min-width: 100%; 
    transition: transform 0.3s ease-in-out;
} 
.carousel-item img {
    width: 100%;
    height: auto; 
    display: block;
    border-radius: 1rem; 
    object-fit: cover;
}
.carousel-button {
    position: absolute; /* Posiziona le frecce ai lati dell'immagine */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Corregge il centraggio */
    background-color: #f4f749a3; /* Colore di sfondo delle frecce */
    border: none;
    font-size: 1.5rem; /* Dimensione del testo/icon */
    width: 2.5rem; /* Larghezza del bottone */
    height: 2.5rem; /* Altezza del bottone */
    border-radius: 50%; /* Arrotonda il bottone */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.carousel-button:hover {
    background-color: #ffd700; /* Cambio colore al passaggio del mouse */
}
.carousel-button.prev {
    left: 0.5rem; /* Aggiungi distanza dal bordo sinistro */
}
.carousel-button.next {
    right: 0.5rem; /* Aggiungi distanza dal bordo destro */
}

/* FORM */
#contact-form {
    margin-top: 1.875rem;
}
#contact-form h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #F24236;
}
#contact-form p {
    margin-bottom: 1.25rem;
    font-size: 1rem;
    color: #555555;
}
#contact-form form {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}
#contact-form label {
    font-size: 0.875rem;
    color: #333333;
}
#contact-form input, #contact-form textarea {
    padding: 0.625rem;
    font-size: 0.875rem;
    border: 0.25rem solid #CCCCCC;
    border-radius: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}
#contact-form input:focus, #contact-form textarea:focus {
    border-color: #F24236;
}
#contact-form .cta-button {
    align-self: flex-start;
    background-color: #F5F749;
    color: #161925;
    font-size: 1rem;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#contact-form .cta-button:hover {
    background-color: #FFD700;
    transform: scale(1.05);
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {

    .navbar-layer {
        flex: 0 0 auto;
        min-width: 90px; /* manteniamo comunque una min-width stabile anche su mobile */
        padding: 1.5%;
        margin: 1.5rem;
        border-radius: 1.875rem;
    }

    .avatar {
        width: 3.5rem;
        height: 3.5rem;
    }

    .name, .tagline {
        display: none; 
    }

    .cta-button {
        display: inline-block; /* Rendi visibile il pulsante */
        font-size: 0.875rem; /* Riduci la dimensione del font */
        padding: 0.375rem 1rem; /* Regola il padding per uno schermo più piccolo */
        margin-top: 2rem;
        border-radius: 1rem; /* Mantieni gli angoli arrotondati */
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu-item a {
        font-size: 0.625rem;
        padding: 0.3125rem;
    }

    .portfolio-section {
        grid-template-columns: 1fr;
        margin-top: 0.625rem;
    }

    .portfolio-item img {
        max-width: 90%; /* Larghezza più ridotta su mobile */
    }

    .carousel-container {
        max-width: 8rem; /* Contenitore ancora più compatto */
    }

    .carousel-item img {
        border-radius: 0.625rem;
    }
}

@media screen and (max-width: 600px) {

    /* Contenitore principale con Flexbox */
    .background-layer {
        display: flex; /* Abilita Flexbox */
        flex-direction: column; /* Stack verticale */
        min-height: 100vh; /* Occupa tutta la schermata */
    }

    /* Navbar con gerarchia */
    .navbar-layer {
        height: 25vh; /* Imposta l'altezza al 50% della viewport */
        width: 93%; /* Imposta la larghezza al 90% */
        margin: 2rem auto; /* Centra il contenitore */
        padding: 0.5rem; /* Riduci il padding */
        border-radius: 1rem; /* Leggermente meno arrotondato */
    }

    /* Profilo */
    .profile {
        display: flex;
        flex-direction: row; /* Allinea gli elementi orizzontalmente */
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
    }

    .avatar {
        width: 4rem; /* Dimensione ridotta */
        height: 4rem;
        border-radius: 50%;
        border: 0.25rem solid #F5F749;
    }

    .name{
        display: block; /* Rendi visibili */
        font-size: 1rem; /* Dimensione font ridotta */
        text-align: center;
        color: #F5F749;
    }

    .menu {
        display: flex; /* Attiva Flexbox */
        flex-direction: row; /* Dispone i figli in orizzontale */
        justify-content: center; /* Centra i button orizzontalmente */
        align-items: center; /* Centra verticalmente */
        gap: 0.3rem; /* Aggiunge spazio tra i button */
        width: 90%;
    }
    
    .menu ul {
        list-style: none; /* Rimuove i pallini */
        display: flex; /* Dispone in Flexbox */
        flex-direction: row; /* Disposizione orizzontale */
        justify-content: center; /* Centra orizzontalmente */
        gap: 0.3rem; /* Spaziatura tra i button */
        padding: 0;
    }
    
    .menu-item {
        margin: 0; /* Rimuove eventuale margine verticale */
    }

    .menu-item a {
        display: flex; /* Assicura che icona e testo siano su una riga */
        align-items: center; /* Centra verticalmente */
        justify-content: center; /* Centra orizzontalmente */
        white-space: nowrap; /* Impedisce il testo di andare a capo */
        padding: 0.5rem 0.5rem; /* Riduci il padding se necessario */
        font-size: 0.875rem; /* Riduci leggermente la dimensione del font */
    }

    .menu-item a:hover {
        background-color: #FFD700;
        color: #333333;
    }

    /* Bottone CTA */
    .cta-button {
        margin-top: 0.5rem;
        background-color: #F5F749;
        color: #333333;
        font-size: 0.875r;
        padding: 0.5rem 1.5rem;
        border-radius: 0.75rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: transform 0.2s ease;
    }

    .cta-button:hover {
        transform: scale(1.05);
    }

    /* Content Area con padding dinamico */
    .content-area {
        flex: 2; /* Occupa più spazio rispetto alla navbar */
        margin-top: 0; /* Nessun margine superiore */
        padding: 1.8rem;
        background-color: #99C1B9;
        border-radius: 1.5rem;
        box-shadow: 0 0.375rem 0.9375rem rgba(0, 0, 0, 0.1);
    }

    .carousel-container {
        max-width: 70%; /* Permette al contenitore di adattarsi alla larghezza dello schermo */
        margin: 0 auto;
    }

    .carousel-item img {
        width: 70%; /* L'immagine occupa tutta la larghezza del contenitore */
        height: auto; /* Mantiene le proporzioni dell'immagine */
        object-fit: contain; /* Garantisce che l'immagine sia visibile senza deformazioni */
        border-radius: 0.5rem; /* Mantiene gli angoli arrotondati */
    }

    .carousel-button {
        width: 2rem; /* Ridimensiona i pulsanti per schermi piccoli */
        height: 2rem;
        font-size: 1rem;
    }
}
